
<div class="about">
  <div class="row">
    <div class="col-sm-9" "col-sm-3">

      <h1>About</h1>
        <br>

        <p class="about-bio">Express To Heal is a web app that cares about humanity. Our goal at Express To Heal is that we want everyone to be able to express how they're feeling, or how their day was in order to heal from negativity. By being able to express one's feelings, one can find clarity, or a peaceful state of mind. Many people deal with heavy energy each day, whether it's at work, with family, relationships, being a parent, or just self doubt about life. Being able to express one's feelings is an important role as a human being. Communication can lead to big changes. You are not alone, we as humans go through many obstacles often.</p>
        
        <p class="about-bio">By using ETH, you will receive feedback and advice by other beings that have dealt with an obstacle you are currently experiencing. Here at ETH, we hope to provide the right help that will guide one towards the right path to an enlightened state of mind. Life is our teacher and many things we experience are teaching us something, but it is definitely hard to understand it alone. So, express yourself and share your feelings with others. No one is perfect and We Are One.</p>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>
</div>