
<div class="contact">
  <div class="row">
    <div class="col-sm-12">

      <h1>Contact</h1>

      <h3>Express To Heal</h3>
      <p>360 E 2nd St #400</p>
      <p>Los Angeles, CA 90012</p>
      <p>(213) 263-4147</p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

    </div>
  </div>
</div>