
<div class="map"> 
  <%= image_tag "eth_address.png", {height: 500} %>
</div>

<div class="contact">     
  <h1 class="contact-word">Contact</h1>
    <h3>Express To Heal</h3>
      <p>360 E 2nd St #400</p>
        <p>Los Angeles, CA 90012</p>
          <p>(213) 263-4147</p>
</div>
    
    


  