
      <br>
      <div class="new-obstacle">
        <%= link_to 'New Obstacle', "obstacles/new", { :class=>"btn btn-default navbar-btn" } %>
      </div>

        <div class="obstacle-header">
          <h1>Express Yourself</h1>
        </div>

        <div class="obstacles">
          
          <div class="container">
            <% @obstacles.each do |obstacle| %>
              <div class="obstacle">
                <p class="content main-obstacles">
                  <div class="container">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <p> <%= obstacle.person.username %> </p>
                      </div>
                        <div class="panel-body">
                         <%= obstacle.obstacle_content %> 
                         
                        </div>
                    </div>
                  </div>
                </p> 
              </div>
            <% end %>
          </div>
          <br>
          <br>
        </div>