/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   padding-top: 80px;
 }

.navbar-left { 
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  position: relative;
  top: 16px; 
  left: 18px;
}

.about, .contact, .new-obstacle, .obstacle-header, .sign-up, .actions, .log-in, .main-obstacles, .btn, .tag-line {
  font-family: 'Rajdhani', sans-serif;
}

.about-bio {
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
}
 
 .navbar-right {
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  left: -60px;
 }

 .logo {
  position: relative;
  top: 12px;
  left: 18px;
 }

 label {
  font-family: 'Rajdhani', sans-serif; font-weight: 600;
  font-size: 17px;
  display: block;
  width: 100px;
 }

.container-fluid {
  color: grey;
}

.tagline {
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  text-align: center;
  position: relative;
  top: 20px;
}

.intro-pics {
  position: relative;
  top: 50px;
  left: 125px;
}

nav.navbar-fixed-top {
  height: 80px;
}

.panel {
  width: 800px;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -100px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
